<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Settings</a></li>
    <li class="breadcrumb-item active">Branches</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Branches <small>Regional allocations</small></h1>
  <!-- end page-header -->
  
  <!-- begin row -->
  <div class="row">
      <div class="col-lg-12" style="min-height: 500; max-height: 750px; overflow-y: scroll;">
          <table class="table table-striped header-fixed" >
            <thead>
              <tr>
                <th>Branch#</th>
                <th>Branch Name</th>
                <th>Portfolio</th>
                <th>SME</th>
                <th>MCU</th>
                <th>Asset Finance</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of AttData">
                <td>{{d.branchcode}}</td>
                <td>{{d.branchname}}</td>
                <td>{{d.regportfolio}}</td>
                <td>{{d.regsme}}</td>
                <td>{{d.regmicrocredit}}</td>
                <td>{{d.regassetinance}}</td>
                <td><a routerLink="/editbranch/{{d.branchcode}}">Edit</a></td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>